# Dependencias
node_modules/
.pnp
.pnp.js

# Build
dist/
build/

# Vercel
.vercel/

# Variables de entorno
.env
.env.local
.env.production

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*